{% extends 'base.html' %}

{% block content %}
<br>
{% if error %}
<h6>{{ error }}</h6>
{% endif %}

<h1>Sign Up!</h1>

<form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    <br>
    Username:
    <br>
    <input type="text" name="username">
    <br><br>
    Password:
    <br>
    <input type="password" name="password1">
    <br><br>
    Confirm Password:
    <br>
    <input type="password" name="password2">
    <br>
    <br>

    <input class = "btn btn-primary" type="submit" value="Sign Up!">
    <br><br><br>
    <br>
</form>
{% endblock %}
