{% extends 'base.html' %}

{% block content %}
<div class="bg">
<style>
   .tab {
       margin-left: 20px;
}
a { color: green; }
</style>
<br>
{% if error %}
<h6 class="e">{{ error }}</h6>
{% endif %}

<h1><strong><ins>User Detail</ins></strong></h1>
<br>
<h4><b>Username &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:</b><i style="color:green;">&nbsp{{ user }}</i></h4>
{% if user.profile.team  %}
<h4><b>Team &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:</b><i style="color:green;">&nbsp<a href="{% url 'teamdetail' user.profile.team.id %}">{{ user.profile.team }}</a></i></h4>
{% else %}
<h4><b>Team &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  :</b><i style="color:green;">&nbsp<small>No team alloted</small></i></h4>
{% endif %}
<br>
<h4><b>Task  Created &nbsp&nbsp </b><i style="color:green;">{% for t in taskcreated %}
    <a href="{% url 'taskdetail' t.id %}"><li class="tab">{{ t }}</li></a>
                                                              {% empty %}
                                                               <br><small class="tab">No Task Created</small>
                                                               {% endfor %}</i></h4>
<h4><b>Task Assigned &nbsp&nbsp</b><i style="color:green;">{% for t in taskassigned %}
                                                   <a  href="{% url 'taskdetail' t.id %}"><li class="tab" >{{ t }}</li></a>
                                                 {% empty %}
                                                 <br><small class="tab"> No Task Assigned</small>
                                                 {% endfor %}</i></h4>


<br><br><br><br><br>
<br><br>

{% endblock %}
    </div>
