{% extends 'base.html' %}
.comment {
    margin: 20px 0px 20px 20px;
}
{% block content %}
<br>
{% if error %}
<h6 class="e">{{ error }}</h6>
{% endif %}

<h1><strong><ins>Task Detail</ins></strong></h1>
<br>
<h4><b>Title &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:</b><i style="color:green;">&nbsp{{ task }}</i></h4>
<h4><b>Assignee &nbsp&nbsp&nbsp&nbsp:</b><i style="color:green;">&nbsp{{ task.assignee }}</i></h4>
<h4><b>Status &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:</b><i style="color:green;">&nbsp{{ task.status }}</i></h4>
<br>
<h4><b>Description</b></h4><p><i style="color:green;">&nbsp{{ task.body }}</i></p>
<h4><b>Members</b><i style="color:green;">{% for t in members %}
                                             <li class="tab title" >{{ t }}</li>
                                          {% endfor %}</i></h4>

<br>
<a class="button" href="{% url 'task_edit' task.id %}">Edit</a>
<button class="button" onclick="window.location='{% url 'home'%}';" >Back</button>


<br><br><br><br>
<a class="button" href="{% url 'add_comment_to_task' task.id %}">Add comment</a>
<br><br><br>
{% for comment in task.comments.all %}
    <div class="comment groove">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <br><br>
    <p>No comments here yet :(</p>
{% endfor %}

<br><br><br><br>
{% endblock %}