{% extends 'base.html' %}
.comment {
    margin: 20px 0px 20px 20px;
}
{% block content %}
<br>
{% if error %}
<h6>{{ error }}</h6>
{% endif %}
    <h2>Task Detail</h2>
    <h3 class="title"> Title    </h3><h5> {{ task.title }}</h5>
    <h3 class="title"> Assignee </h3><h5> {{ task.assignee }}</h5>
    <h3 class="title"> Status  </h3><h5> {{ task.status }}</h5>
    <h3 class="title"> Description </h3>
    <p> {{ task.body }}</p>
    <h3 class="title"> Members </h3>
    {% for member in members%}
      <li>{{member}}</li>
    {% endfor %}
    <br>
    <a class="button" href="{% url 'task_edit' task.id %}">Edit</a>

    <br><br><br><br>
    <a class="button" href="{% url 'add_comment_to_task' task.id %}">Add comment</a>
    <br><br><br>
    {% for comment in task.comments.all %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <br><br>
        <p>No comments here yet :(</p>
    {% endfor %}

<br><br><br><br>
{% endblock %}