{% extends 'base.html' %}

{% block content %}
<br>
{% if error %}
<h6 class="e">{{ error }}</h6>
{% endif %}
<br>
    <h2>New Team</h2>
<br>
    <form method="POST" class="post-form">{% csrf_token %}
        <!--<table>{{ form.as_table }}</table>-->
        <p>{{ form.as_p }}</p>
        <button type="submit" class="button" >Create</button>
        <button class="button" onclick="window.location='{% url 'home'%}';" >Back</button>
        <br><br><br><br>
        <p><small>**Note:Team Creator is automatically added to the team</small></p>
        <br><br>
    </form>
{% endblock %}